body {
  background: rgb(230, 253, 255);
  margin: 1rem;
  padding: 1rem;
  max-width: 600px;
  margin: 2rem auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

#my-pic {
	border-radius: 1000px;
	position: relative;
	right: 400px;
	bottom: 150px;
}

#me-stuff {
	position: relative;
	bottom: 275px;
}

#text-area {
	width: 400px;
	height: 50px;
}

#button-section {
	position: relative;
	bottom: 1105px;
}

.btns {
	background-color: rgb(248, 248, 135);
	cursor: pointer;
	width: 150px;
	height: 50px;
	display: inline-block;
	border-radius: 50px;
}

#three-sections {
	position: relative;
	bottom: 255px;
}